<div class="wrapper">
  <h1 class="text-center"><strong>Dashboard</strong></h1>

  <div class="dashboard-container">
    <h3>Offer summary</h3>
    <table class="table table-striped">
      <tr>
        <th>Language</th>
        <th>Level</th>
        <th>Date</th>
        <th>Meeting with</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

      <% current_user.offers.each do |offer| %>
      <tr>
        <td><%= offer.language %></td>
        <td><%= offer.level %></td>
        <td><%= offer.date %></td>
        <td><%= offer.user.first_name %></td>
        <td><%= offer.bookings.present? ? 'Booked' : 'Open for booking' %></td>
        <td>
          <%= link_to 'Edit', edit_offer_path(offer.id), class:'btn btn-primary' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="dashboard-container">
    <h3>Booking summary</h3>
    <table class="table table-striped">

      <tr>
        <th>Language</th>
        <th>Level</th>
        <th>Date</th>
        <th>Meeting with</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

      <% current_user.bookings.each do |booking| %>
      <tr>
        <td><%= booking.offer.language %></td>
        <td><%= booking.offer.level %></td>
        <td><%= booking.offer.date %></td>
        <td><%= booking.offer.user.first_name %></td>
        <td><%= booking.status? ? 'Pending' : 'Completed' %></td>
        <td>
          <%= link_to 'Cancel', booking, method: :delete, class:'btn btn-primary',data: {confirm: "Are you sure to cancel?"} %>
        </td>
      </tr>
      <% end %>

    </table>
  </div>
</div>
