<div class="styles-title">
  <h1> Here are Lengua users that are happy to help you learn! </h1>
  <% if policy(Offer).new? %>
    <h5>Do you also have time to share? Make a <%= link_to 'new offer!', new_offer_path %></h5>
    <br>
  <% end  %>
</div>
<div class="row row--no-padding">
  <div class="col-3 col-md-6 col--padding">
  <% if @offers.count > 0 %>
    <% @offers.each do |offer| %>
      <div class="card-product">
        <img src="https://source.unsplash.com/random" />
        <div class="card-product-infos">
          <h2><strong>Language: </strong><%= offer.language %></h2>
          <p><strong>Level: </strong><%= offer.level %> </p>
          <p><strong>Date or day: </strong><%= offer.date %>  </p>
          <p><strong>Duration: </strong><%= offer.duration %> </p>
          <p><strong>Address</strong><%= offer.address %> </p>
          <span class="card-title ">Offer created by <%= offer.user.first_name %></span>
          <%= link_to 'Details', offer_path(offer), class: "btn btn-ghost" %> <% if policy(offer).edit?  %>
          <%= link_to 'Update', edit_offer_path(offer),class: "btn btn-ghost" %>
          <% end  %>
          <% if policy(offer).destroy?  %>
          <%= link_to 'Destroy', offer, method: :delete,class: "btn btn-ghost", data: {confirm: "Are you sure?"} %>
          <% end  %>
        </div>
      </div>
    <% end  %>
  <% else %>
  <p>No matches </p>
  <%= link_to 'Search again', root_path %>
<% end %>

</div>
<div class="col-3 col-md-6 map-wrapper">
  <div id="map"
    style="width: 100%; height: 900px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
