<h1> Offers </h1>

<% @offers.each do |offer| %>
  <p> <%= offer.language %> </p>
  <p> <%= offer.level %> </p>
  <p><%= offer.date %> </p>
  <p> <%= offer.duration %> </p>
  <%= link_to 'Details', offer_path(offer) %>
  <% if policy(offer).edit?  %>
    <%= link_to 'Update', edit_offer_path(offer) %>
  <% end  %>
  <% if policy(offer).destroy?  %>
    <%= link_to 'Destroy', offer, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end  %>
  <% end  %>

<% if policy(Offer).new? %>
  <%= link_to 'New Offer', new_offer_path %>
<% end  %>
