<div class="flex-container">
  <div class="profile-container">
    <h1><strong>Profile details</strong></h1>
    <p>
      <%= @offer.user.first_name %>
      <%= @offer.user.last_name %>
      <br>
      <%= @offer.user.email %>
    </p>
  </div>
  <div class="offer-container">
    <div class="header">
      <h1><Strong>Offer details</Strong></h1>
    </div>

    <div class="flex-container">
        <div class="offer-info">
          <p>
            <strong> Name: </strong>
            <%= @offer.language %>
          </p>

          <p>
            <strong> Level: </strong>
            <%= @offer.level %>
          </p>

          <p>
            <strong> Date: </strong>
            <%= @offer.date %>
          </p>

          <p>
            <strong> Duration: </strong>
            <%= @offer.duration %>
          </p>
        </div>

        <div class="offer-picture">
          <%= image_tag "#{@offer.language}.png", class:"offer-img" %>
        </div>
    </div>

    <div class="btn-container">
      <%= link_to 'Offers', offers_path, class: "btn btn-primary" %>
      <button type="button" class="btn btn-primary">Book Now</button>
    </div>
  </div>
</div>

  <div class="other-offer-card">
    <p>Other offer(s) by <%= @offer.user.first_name %></p>
    <%= @offer.user.offers %>%

  </div>
