<div class="flex-container">
  <div class="profile-container">
    <h1><strong>Profile details</strong></h1>
      <% if @offer.user.photo.key.nil?  %>
      <%=  image_tag "default_profil.png", width: "100%"  %>
      <% else  %>
      <%=  cl_image_tag @offer.user.photo.key, width: "100%"  %>
      <% end  %>
    <p>
      <%= @offer.user.first_name %>
      <%= @offer.user.last_name %>
      <br>
      <%= @offer.user.email %>
    </p>
  </div>
  <div class="offer-container">
    <div class="header">
      <h1><Strong>Offer details</Strong></h1>
    </div>

    <div class="flex-container">
        <div class="offer-info">
          <p>
            <strong> Name: </strong>
            <%= @offer.language %>
          </p>

          <p>
            <strong> Level: </strong>
            <%= @offer.level %>
          </p>

          <p>
            <strong> Date: </strong>
            <%= @offer.date %>
          </p>

          <p>
            <strong> Duration: </strong>
            <%= @offer.duration %>
          </p>
        </div>

        <div class="offer-picture">
          <%= image_tag "#{@offer.language}.png", class:"offer-img" %>
        </div>
    </div>

    <div class="btn-container">
      <%= link_to 'Back', offers_path, class: "btn btn-primary" %>


      <%= simple_form_for [@offer,@booking] do |f| %>
        <%= f.hidden_field :language, value: @offer.language%>
        <%= f.hidden_field :level, value: @offer.level%>
        <%= f.hidden_field :date, value: @offer.date%>
        <%= f.hidden_field :duration, value: @offer.duration%>
        <%= f.hidden_field :address, value: @offer.address%>

        <%= f.hidden_field :user, value: @offer.user.id%>

        <% if current_user != @offer.user  %>
          <%= f.button :submit, "Book Now", class:'btn btn-primary' %>
        <% end %>

      <% end %>
     </div>
    </div>
</div>

  <div class="other-offer-card">


    <p>Other offer(s) by  <%= @offer.user.first_name %></p>
    <% @offer.user.offers.each do |offer| %>
    <p>
    <%= offer.language %></p>
    <% end  %>


  </div>
