

<p>

<strong> Name: </strong>
<%= @offer.language %>
</p>

<p>
  <strong> level </strong>
  <%= @offer.level %>
</p>


<p>
  <strong> Date </strong>
  <%= @offer.date %>
</p>

<p>
  <strong> duration </strong>
  <%= @offer.duration %>
</p>

<%= link_to 'Offers', offers_path %>
